<!--mainpage head-->
<div class="container">
  <div id="header">
    <p>SINGH STREET STYLE</p>
  </div>


</div>
<div ng-controller="homesctrl">
  <div class="container">

    <!--    image 1 for main page head-->
    <div id="imageA">
      <img src="http://41.media.tumblr.com/2465ada9d7e74ef4a67d843da4a77234/tumblr_o20bcrQUGM1s8tsi0o1_500.jpg" class="img-responsive" />
    </div>

    <!--    Blog A Of Home Page-->
    <div id="blogA">
      <h1>Singh Street Style</h1>
      <p>The first Website designed by ‘The Sikh Sartorialist’. This website is a U.S based menswear fasion hub.Our perfect stylelist and fashion designers created different fasion in sikh menswear history.
        <br>This website won the Best Sikh fashion award for 2015. </p>
    </div>
    <!--         Blog B for Hom Page-->
    <div id="blogB">
      <h1>Beyond History</h1>
      <p>The Western view of the SINGH needs a makeover. A growing number of fashion, savvy Sikh have made it their cause celebre to re-establish its identity in west.By<kbd><abbr title="Singh Street Style">SSS</abbr></kbd></p>
    </div>

    <!--    Video On Hompage-->
    <div id="vdio">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Bug3TrH3pWo?autoplay=1" frameborder="0"></iframe>
    </div>
    <!--    Image 2 For Hompage-->
    <div>
      <img src="img/pic3.jpg" class="img-responsive" alt="noimage" />
    </div>
  </div>

</div>