<div ng-controller="shirtctrl">
  <!-- header image-->
  <div>
    <img src="img/pic4.jpg" class="img-responsive" alt="noimage" />
  </div>
  <!--thsirt images-->
  <div class="container">
    <div class="pic" ng-repeat="shirt in shirts">
      <a target="_blank" href="getnow">
        <img ng-src="img/shirts/{{shirt.img}}.jpg" class="img-responsive" alt="bhagat singh logo" width="300" height="200">
      </a>
      <div class="desc"> {{shirt.dscrp}} <dt>Price:{{shirt.price}}</dt></div>
    </div>
  </div>
</div>