<div ng-controller="shoectrl">

  <!-- head image-->
  <div>
    <img src="img/shoe.jpg" class="img-responsive shoeimage" alt="noimage" />
  </div>

  <!--shoe images-->
  <div class="container">
    <div class="pic" ng-repeat="shoe in shoes">
      <a target="_blank" href="getnow">
        <img ng-src="img/shoes/{{shoe.img}}.jpg" class="img-responsive" alt="bhagat singh logo" width="300" height="200">
      </a>
      <div class="desc"> {{shoe.dscrp}} <dt>Price:{{shoe.price}}</dt></div>
    </div>
    <div></div>

  </div>
</div>